@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
div {
    display: inline-block;
    width: 100%
}

header {
    top: 0;
    position: fixed;
    display: block;
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.buttons {
    border: none;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    padding: 0.25em;
    margin: 0.2em;
    background-color: rgb(247, 243, 243);
}

#portfolio {
    color: #FFC93C;
}

.buttons:hover {
    color: #FFC93C;
    background-color: #B97A95;
}

main {
    margin-top: 5vh;
    padding: 3em;
    background-color: rgb(207, 217, 247);
    ;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    font-weight: 100;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
}

p {
    font-family: 'Comfortaa', cursive;
    display: block;
    overflow: auto;
}

#some {
    margin-top: 3vh;
    margin-left: 2vw;
    margin-bottom: 0vh;
    font-family: 'Pangolin', cursive;
    font-size: 55px;
    font-weight: 600;
}

.project-title {
    font-family: 'Gluten', cursive;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 10px;
    color: rgba(58, 57, 57, 0.562);
    text-shadow: 2px 2px 0 #b97a9586;
    padding-top: 3vh;
    padding-left: 5vw;
}

.project1 {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: rgb(247, 243, 243);
}

#woman {
    width: 20vw;
    float: right;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 5vh;
}

.project1-content {
    padding-left: 5vw;
    padding-right: 5vw;
}

hr {
    border-top: 3px dashed #FFC93C;
    border-bottom: none;
}

.project2 {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: rgb(247, 243, 243);
}

#house {
    width: 20vw;
    float: left;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 5vh;
}

.project2-content {
    padding-left: 5vw;
    padding-right: 5vw;
}

.project3 {
    margin-top: 3vh;
    margin-bottom: 20vh;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: rgb(247, 243, 243);
}

#mendedsails{
    width: 20vw;
    float: right;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 5vh;
}

#mendedsails:hover {
    opacity: 0.7;
}

.project3-content {
    padding-left: 5vw;
    padding-right: 5vw;
}

footer {
    display: block;
    bottom: 0px;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 3px;
    background-color: rgb(255, 255, 255);
}

.footer-message {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: -1em;
}

a {
    text-decoration: none;
}

#instagram {
    max-width: 25px;
    max-height: 25px;
    margin-right: 0.5em;
    padding: 0.25em;
}

#instagram:hover {
    opacity: 0.7;
}

#linkedin {
    max-width: 25px;
    max-height: 25px;
    margin-right: 0.5em;
    padding: 0.25em;
}

#linkedin:hover {
    opacity: 0.7;
}

#youtube {
    max-width: 25px;
    max-height: 25px;
    margin-right: 0.5em;
    padding: 0.25em;
}

#youtube:hover {
    opacity: 0.7;
}